.video-player
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    /* Adjust the gap between videos as needed */
}

.react-player
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.player-wrapper
{
    position: relative;
    padding-top: 56.25%;
}